dialpad_to_syncro_timer.json
{
  "name": "Dialpad Call to Syncro Timer",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "timersyncro",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        310
      ],
      "webhookId": "484b94c9-8285-4ec9-aa52-f5a41eb84d1a"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "syncro_baseurl",
              "value": "https://subdomain.syncromsp.com"
            }
          ]
        },
        "options": {}
      },
      "name": "EnvVariables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        310
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "xxx",
        "range": "A:B",
        "lookupColumn": "Call",
        "lookupValue": "={{$node[\"Webhook\"].json[\"body\"][\"call_id\"]}}",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        820,
        310
      ],
      "credentials": {
        "googleApi": "Google"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"EnvVariables\"].parameter[\"values\"][\"string\"][0][\"value\"]}}/api/v1/tickets/{{$node[\"Google Sheets\"].json[\"Ticket\"]}}/timer_entry",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "start_at",
              "value": "={{new Date(parseInt($node[\"Webhook\"].json[\"body\"][\"date_started\"])).toISOString()}}"
            },
            {
              "name": "end_at",
              "value": "={{new Date(parseInt($node[\"Webhook\"].json[\"body\"][\"date_ended\"])).toISOString()}}"
            },
            {
              "name": "notes",
              "value": "=Phone call from {{$node[\"Webhook\"].json[\"body\"][\"contact\"][\"name\"]}} ({{$node[\"Webhook\"].json[\"body\"][\"contact\"][\"phone\"]}})."
            },
            {
              "name": "user_id",
              "value": "24223"
            }
          ]
        }
      },
      "name": "AddTimertoSyncro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1150,
        310
      ],
      "credentials": {
        "httpHeaderAuth": "Syncro"
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "boolean": [],
          "string": [
            {
              "value1": "={{$node[\"Google Sheets\"].json[\"Ticket\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "ConfirmMatch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        970,
        310
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1130,
        160
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "EnvVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnvVariables": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "ConfirmMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConfirmMatch": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AddTimertoSyncro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "8"
}