dialpad_to_syncro_timer.json
{
  "name": "",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moeztimersyncro",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        390,
        300
      ],
      "webhookId": "dialpad_to_syncro_timer",
      "notes": "Inbound Webhook from Dialpad when call ends. We have different Webhooks for each technician so you need to set the user_id accordingly."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "syncro_baseurl",
              "value": "https://subdomain.syncromsp.com"
            },
            {
              "name": "user_id",
              "value": "1234"
            }
          ]
        },
        "options": {}
      },
      "name": "EnvVariables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        590,
        300
      ],
      "notes": "Change syncro_baseurl to your Syncro URL and set user_id to the technician that this Webhook is for."
    },
    {
      "parameters": {
        "operation": "lookup",
        "range": "A:B",
        "lookupColumn": "Call",
        "lookupValue": "={{$node[\"Webhook\"].json[\"body\"][\"call_id\"]}}",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        770,
        300
      ],
      "credentials": {
        "googleApi": "Google"
      },
      "notes": "This looks up our Google sheet that keeps a record of each call ID and the ticket ID that was created for it."
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"EnvVariables\"].parameter[\"values\"][\"string\"][0][\"value\"]}}/api/v1/tickets/{{$node[\"Google Sheets\"].json[\"Ticket\"]}}/timer_entry",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "start_at",
              "value": "={{new Date(parseInt($node[\"Webhook\"].json[\"body\"][\"date_started\"])).toISOString()}}"
            },
            {
              "name": "end_at",
              "value": "={{new Date(parseInt($node[\"Webhook\"].json[\"body\"][\"date_ended\"])).toISOString()}}"
            },
            {
              "name": "notes",
              "value": "=Phone call from {{$node[\"Webhook\"].json[\"body\"][\"contact\"][\"name\"]}} ({{$node[\"Webhook\"].json[\"body\"][\"contact\"][\"phone\"]}})."
            },
            {
              "name": "user_id",
              "value": "={{$node[\"EnvVariables\"].parameter[\"values\"][\"string\"][1][\"value\"]}}"
            }
          ]
        }
      },
      "name": "AddTimertoSyncro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "httpHeaderAuth": "Syncro"
      },
      "notes": "This updates Syncro with a timer entry matching the duration of the call."
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "boolean": [],
          "string": [
            {
              "value1": "={{$node[\"Google Sheets\"].json[\"Ticket\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "ConfirmMatch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "notes": "This simply confirms there is a match in Google Sheets."
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        150
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "EnvVariables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EnvVariables": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "ConfirmMatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConfirmMatch": {
      "main": [
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AddTimertoSyncro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}