syncro_status_update_clockify.json
{
  "name": "",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "syncro_to_clockify",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "webhookId": "syncro_to_clockify",
      "notes": "Webhook that should be triggered by Syncro when a ticket status changes, via notification sets."
    },
    {
      "parameters": {
        "operation": "getAll",
        "workspaceId": "",
        "returnAll": true,
        "additionalFields": {
          "archived": false
        }
      },
      "name": "Clockify",
      "type": "n8n-nodes-base.clockify",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "credentials": {
        "clockifyApi": "Clockify"
      },
      "notes": "Get all projects from Clockify."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Clockify\"].json[\"name\"]}}",
              "value2": "=Ticket {{$item(0).$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"number\"]}} - {{$item(0).$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"customer_business_then_name\"]}} [{{$item(0).$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"id\"]}}]"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "notes": "Compares the ticket ID for Syncro (webhook) with the project name and confirms there is a match."
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{$node[\"Clockify\"].parameter[\"workspaceId\"]}}/projects/{{$node[\"IF\"].json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "archived",
              "value": "false"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1150,
        290
      ],
      "credentials": {
        "httpHeaderAuth": "Clockify API"
      },
      "notes": "Updates the project in Clockify to insure it is not archived."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"attributes\"][\"status\"]}}",
              "operation": "notEqual",
              "value2": "Resolved"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        570,
        300
      ],
      "notes": "Determine if the status change is Resolved or not and take a different path based on that. If it Resolved, we archive the project in Clockify and if it's any other status change, we make sure the project is not archived."
    },
    {
      "parameters": {
        "operation": "getAll",
        "workspaceId": "",
        "returnAll": true,
        "additionalFields": {
          "archived": false
        }
      },
      "name": "Clockify1",
      "type": "n8n-nodes-base.clockify",
      "typeVersion": 1,
      "position": [
        800,
        530
      ],
      "credentials": {
        "clockifyApi": "Clockify"
      },
      "notes": "Get all projects from Clockify."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Clockify1\"].json[\"name\"]}}",
              "value2": "=Ticket {{$item(0).$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"number\"]}} - {{$item(0).$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"customer_business_then_name\"]}} [{{$item(0).$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"id\"]}}]"
            }
          ]
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        970,
        530
      ],
      "notes": "Compares the ticket ID for Syncro (webhook) with the project name and confirms there is a match."
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{$node[\"Clockify1\"].parameter[\"workspaceId\"]}}/projects/{{$node[\"IF2\"].json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "archived",
              "value": "true"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1150,
        530
      ],
      "credentials": {
        "httpHeaderAuth": "Clockify API"
      },
      "notes": "Updates the project in Clockify to insure it is archived."
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Clockify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clockify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify1": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}