syncro_status_update_clockify.json
{
  "name": "Syncro Status Update Clockify",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4500d16f-5d43-4ae7-887e-376eecaeec17",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        560,
        310
      ],
      "webhookId": "3300d16f-5d43-4ae7-887e-376eecaeec17"
    },
    {
      "parameters": {
        "operation": "getAll",
        "workspaceId": "xxx",
        "returnAll": true,
        "additionalFields": {
          "archived": true,
          "name": "=Ticket {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"number\"]}} - {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"customer_business_then_name\"]}} [{{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"id\"]}}]"
        }
      },
      "name": "Clockify",
      "type": "n8n-nodes-base.clockify",
      "typeVersion": 1,
      "position": [
        960,
        310
      ],
      "credentials": {
        "clockifyApi": "Clockify"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{$node[\"Clockify\"].parameter[\"workspaceId\"]}}/projects/{{$json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "archived",
              "value": "false"
            },
            {
              "name": "isPublic",
              "value": "true"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1130,
        310
      ],
      "credentials": {
        "httpHeaderAuth": "Clockify API"
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"attributes\"][\"status\"]}}",
              "operation": "notEqual",
              "value2": "Resolved"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        730,
        310
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "workspaceId": "xxx",
        "returnAll": true,
        "additionalFields": {
          "archived": false,
          "name": "=Ticket {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"number\"]}} - {{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"customer_business_then_name\"]}} [{{$node[\"Webhook\"].json[\"body\"][\"attributes\"][\"id\"]}}]"
        }
      },
      "name": "Clockify1",
      "type": "n8n-nodes-base.clockify",
      "typeVersion": 1,
      "position": [
        960,
        540
      ],
      "credentials": {
        "clockifyApi": "Clockify"
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/{{$node[\"Clockify1\"].parameter[\"workspaceId\"]}}/projects/{{$node[\"Clockify1\"].json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "archived",
              "value": "true"
            },
            {
              "name": "isPublic",
              "value": "true"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1130,
        540
      ],
      "credentials": {
        "httpHeaderAuth": "Clockify API"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Clockify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clockify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clockify1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "5"
}